{% extends "base.html" %}

{% load static %}

{% block content %}

<div>

    <div class="row justify-content-center my-3">
        <div class="col-2">
            <img src="{% static 'sp.jpg' %}" class="img-fluid" width="250px" height="250px">
        </div>
        <div class="col-10">
            <h3>Hi.</h3>
            <p>My name is Prasad Talamala. I am a Full-Stack Python developer.
                Welcome to my blog,
                here you will find a few of my personal projects along with deployed Urls. 😉</p>
            <p>Remotely available from UTC−14 to UTC-18.
                <a href="mailto:sp.svuce@gmail.com">sp.svuce@gmail.com</a> /
                <a href="tel:+91-9704504740">+91-9704504740</a>
            </p>
        </div>
    </div>

    <!--    <div class="row justify-content-center mb-3">-->
    <!--        <div class="col-md-9 text-center">-->
    <!--            <h1 id="hometext" class="font-weight-bold" style="font-family:Times New Roman">Python/Django Developer</h1>-->
    <!--        </div>-->
    <!--    </div>-->

    <h2 class="mt-5">Personal Projects</h2>
    <hr>
    <div class="row" style="font-size:12px;">
        {% for project in projects %}
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">

                    {% if project.link %}
                    <a href="{{ project.link }}" target="_blank">
                        <img src="{{ project.image.url }}" width="50" height="50">
                    </a>
                    {% else %}

                    <img src="{{ project.image.url }}">
                    {% endif %}
                    <h3>{{ project.title }}</h3>
                    <p>{{ project.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    <h2 class="mt-5">Professional Experience</h2>
    <table class="table">
        <thead>
        <tr>
            <td width="3%">S.No</td>
            <td width="20%">Company</td>
            <td width="15%">Period</td>
            <td width="25%">Projects</td>
            <td>Tech Stack</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td><a href="https://www.infosys.com/">Infosys Limited</a></td>
            <td>03-December-2018 to 08-October-2021</td>
            <td>Neutron-cli, Neutron Analytics, Vendor Analytics</td>
            <td><img src="media/project/icons/python.ico" width="35px;" height="35px;">
                <img src="media/project/icons/django.ico" width="35px;" height="35px;">
                <img src="media/project/icons/postgresql.ico" width="35px;" height="35px;">
                <img src="media/project/icons/javascript.ico" width="35px;" height="35px;">
                <img src="media/project/icons/jquery.ico" width="35px;" height="35px;">
                <img src="media/project/icons/github.ico" width="35px;" height="35px;">
                <img src="media/project/icons/jenkins.ico" width="35px;" height="45px;">
                <img src="media/project/icons/hadoop.ico" width="35px;" height="45px;">
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="https://circlebase.com/">Circlebase Consulting Private Limited</a></td>
            <td>11-October-2021 to Present</td>
            <td>Entity Extraction</td>
            <td><img src="media/project/icons/python.ico" width="35px;" height="35px;">
                <img src="media/project/icons/django.ico" width="35px;" height="35px;">
                <img src="media/project/icons/postgresql.ico" width="35px;" height="35px;">
                <img src="media/project/icons/javascript.ico" width="35px;" height="35px;">
                <img src="media/project/icons/jquery.ico" width="35px;" height="35px;">
                <img src="media/project/icons/github.ico" width="35px;" height="35px;">
                <img src="media/project/icons/google-cloud.ico" width="35px;" height="35px;">
            </td>
        </tr>
        </tbody>
    </table>

</div>
<hr>
<div class="css-footer">
    <span>Website Version: 2.1</span>
    <space></space>
    <span>© 2022 by Prasad Talamala. All rights reserved.</span>
</div>

<style>
.css-footer {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.card-body {
    padding: 0.1rem;
    height:auto;
}

.card {
    background-color:ghostwhite;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
    z-index: 4;
    transition: 0.2s;
    background-color: #6495ED;
    color:white;
}
space {
    padding-right: 635px;
}

.table {
  font-family: Monospace;
  border-collapse: collapse;
  width: 100%;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align:center;
}

.table thead tr {
    background-color: #9dc6ce;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #6495ED; color:white;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}










</style>
{% endblock %}
